:root{
--white-color: #fdf5f5;
--shading-color :rgba(0, 0, 0, 0.849);
}



.about-page {
    padding: 2rem;
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.6;
  }
  .about-page h2 {
    /* color: #6a1b9a;  */
    color:var(--white-color);
    margin-bottom: 1rem;
  }
  .about-page {
    position: relative;
    background-image: url('../../assets/books-one.jpg'); 
    background-size: cover;
    background-position: center;
    color:var(--white-color);
    text-shadow: 2px 2px 5px var(--shading-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
  }
  