.page-container{
    padding:2rem;
    text-align: center;
}

.page-heading{
    color:purple;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.add-btn{
    background-color: purple;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.link {
    color: #6a1b9a;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
   
  }
  
  .link:hover {
    text-decoration: underline;
  }
  