
.profile-page{
 padding: 10px;
 margin: 10px;
 display: grid;
 align-items: center;
 justify-content: center;
 
}

#profile-header {
    color: purple;
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 5px #c8a4d4;
  }

.avatar-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem auto;
  display: block;
  box-shadow: 2px 1px rgb(130, 132, 133);
  background-color: rgb(217, 174, 231); /* fallback */
}

.progress-bar-div{
    background-color: #f3f4f6;
    border-radius: 20px;
    width: 80%;
    height: 20px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
}
.profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 3rem;
    max-width: 1000px;
    margin: 0 auto;
    
  }
.profile-left {
    text-align: center;
    flex: 1;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-left h2 {
    font-size: 1.8rem;
    text-shadow: 1px 1px lavender;
  }
.profile-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
    min-width: 250px;
  }
  .welcome-ptag {
  text-align: left;
  width: 100%;
  margin-top: 1rem;
  color: purple;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 600;
  }

  .profile-info-table {
    margin-top: 1rem;
    width: 80%;
    border-collapse: collapse;
    font-size: 1rem;
    color: purple;
  }
  .profile-info-table td {
    padding: 0.5rem;
  }
  .profile-info-table td:first-child {
    text-align: right;
    font-weight: bold;
    width: 40%;
  }
  .vertical-divider {
    width: 1px;
    background: rgba(128, 0, 128, 0.525);
    height: auto;
    min-height: 300px;
    margin: 0 2rem;
  }