.reflection-display{
    margin-top: 1rem;
    width: 300px;
    border: 15px solid var(--primary-color-green);
    padding: 50px;
    margin: 20px;
}
.page-container{
    border: 1px solid #ccc;
    color: #7BA05B;
    padding: 1rem;
    
    text-align: center;
    border-radius: 8px;
    background-color: #f8f8f8;
}
.reflections-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}
.reflections-form{
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 12px;
    background-color:  #f8f8f8;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.reflections-form  textarea , .reflections-form select{
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    color: var(--primary-color);
  }
.reflections-form select:focus,.reflections-form textarea:focus {
    outline: none;
    border-color: #7BA05B; 
    box-shadow: 0 0 5px #7BA05B;
}

@media screen and (max-width: 1366px) {
    .reflection-display {
      width: 250px;
      padding: 30px;
      border-width: 12px;
    }
    .reflections-form {
      padding: 1.5rem;
      max-width: 90%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .reflection-display {
      width: 80%;
      padding: 1rem;
      margin: 10px auto;
    }
    .reflections-container {
      flex-direction: column;
      align-items: center;
    }
    .reflections-form {
      max-width: 90%;
      padding: 1rem;
    }
  }