:root{
    --white-color: #fdf5f5;
    --shading-color :rgba(0, 0, 0, 0.849);
    }

    body{
        position: relative;
        background-image: url('./assets/white-background.jpg'); 
        background-size: cover;
        background-position: center;  
    }
